@import '../../mixins';

.timer-container {
  display: block;
  position: absolute;
  @include aspectRatio(1, 1);
  margin:0 5%;
  background-color:rgba(255, 255, 255, .5);
  border-radius: 50%;
  z-index: 9999;

  .timer-handle {
    position: absolute;
    height: 25px;
    width: 25px;
    background: rgba(50, 175, 255, .8);
    border-radius: 10px;
    z-index: 3;
  }
  .timer-countdown {
    color:#333;
  }
}
